@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

/* profile picture image */
#avatar {
  background-image: url('https://media.licdn.com/dms/image/v2/D5603AQGeO3YQqKB3qQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1673597707200?e=2147483647&v=beta&t=sh_InJkdqhLw0R5cpjcE-mJugMDxI4nWD_aNbB1mEZ0');
  background-size: cover;
  width: 40vw;
  height: 40vw;
  display: block;
  border-radius: 50%;
  margin-left: 4vw;
  margin-top: 3vw;
}

/* background blender image */
#titleBackground {
  z-index: -10;
  height: 28vw;
  background-image: url('https://media.licdn.com/dms/image/v2/D4D16AQF9Khhlg2kEtw/profile-displaybackgroundimage-shrink_200_800/profile-displaybackgroundimage-shrink_200_800/0/1715758260542?e=2147483647&v=beta&t=HzXxUo-U8g-e4oBHRNRZyqsGEG1uLf1x3gc_CT_g1HQ');
  background-size: cover;
  background-position: center center;
  position: relative;
  /* black tint to background */
  background-color: rgba(59, 54, 48, 0.747);
  background-blend-mode: multiply;
}

/* big name at the top */
#titleName {
  position: absolute;
  font-size: 5vw;
  margin: 0;
  padding: 0;
  top: 40%;
  left: 50%;
  color: rgb(132, 250, 222);
  transform: translate(-50%, -50%);
  /* keep font consistent */
  font-family: 'Bebas Neue', sans-serif;
  white-space: nowrap;
}

/* short desc below titleName */
#titleWords {
  position: absolute;
  font-size: 3vw;
  margin: 0;
  padding: 0;
  top: 65%;
  left: 50%;
  color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  font-family: "Bebas Neue", sans-serif;
  white-space: nowrap;
}

/* short paragraph */
#desciption {
  position: absolute;
  font-size: 2vw;
  margin-left: 48vw;
  margin-top: 0vw;
  color: rgb(216, 216, 216);
  font-family: 'Cinzel', serif;
  white-space: nowrap;
}

/* top nav bar */
#topNav {
  background-color: burlywood;
  overflow: hidden;
}

/* setting look for text within the top nav */
/*main class for looks */
li a:is(:link, :active, :visited) {
  /* have the image float toward the left */
  float: left;
  color: rgb(159, 128, 196);
  text-align: center;
  padding: 1vw 2vw;
  /* remove underlines */
  text-decoration: none;
  font-size: 2.1vw;
  background-color: rgba(59, 54, 48, 0.199);
  background-blend-mode: multiply;
  transform: translateX(-0.5vw);
  font-family: "Bebas Neue", sans-serif;
}

/* changes color of box if hovering */
li a:hover{
  background-color: #2b2b2b91;
  color: rgb(244, 224, 247);
}

/* changes color of box if active */
a:is(:link, :active, :visited){
  background-color: rgba(138, 114, 82, 0);
  color: white;
}

.tabContent {
  display: none;
  height: 100%;
}

.navHeight {
  height: 0;
}

.inputBar {
  border-radius: 15px;
  transform: translate(56vw, 1vw);
  height: 2.5vw;
  width: 20vw;
}

#avatar2 {
  background-image: url('https://oa.tp.libnova.com/templates/temasek/assets/img/slider_2.webp');
  background-size: cover;
  width: 40vw;
  height: 40vw;
  display: block;
  border-radius: 50%;
  margin-left: 55vw;
  margin-top: 3vw;
}

#desciption2 {
  position: absolute;
  font-size: 2vw;
  margin-left: 3vw;
  margin-top: 0vw;
  color: rgb(216, 216, 216);
  font-family: 'Cinzel', serif;
  white-space: nowrap;
}

.flex-container {
  display: flex;
  align-items: center;
  overflow: hidden;
}

#avatar3 {
  background-image: url('https://i0.wp.com/touristjourney.com/wp-content/uploads/2020/11/Ho-Chi-Minh-City.jpg?fit=2500%2C1666&ssl=1');
  background-size: cover;
  width: 40vw;
  height: 40vw;
  display: block;
  border-radius: 50%;
  margin-left: 4vw;
  margin-top: 3vw;
}

body {
  background-color: rgb(65, 65, 65);
}

/* profile picture image top left */
#avatarLeft {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRELz1YazfugZdxzltruoSStAGChatrUSZnGw&s');
  transform: translateX(0.5vw);
  background-size: cover;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.red {
  color: red;
}

#linkedinLogo {
  background-image: url('/home/maximilian/Downloads/inkedin-thumbnail-removebg-preview.png');
  background-size: contain;
  width: 3vw;
  height: 3vw;
  color: rgb(216, 216, 216);
  
}